@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #000;
    --secondary-color: #fff;
    --primary-background-color: #e74c3c;
    --dark-hands-color: #2c3e50;
}

html {
    transition: all 0.5s ease-in;
}

html.dark {
    --primary-color: #fff;
    --secondary-color: #333;
    background-color: #111;
    color: var(--primary-color);
}

body {
    font-family: 'Heebo', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.toggle {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 0;
    border-radius: 4px;
    padding: 8px 12px;
    position: absolute;
    top: 100px;
}

.toggle:focus {
    outline: none;
}

.clock-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.clock {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #f0f0f0;
    border-radius: 50%;
}

.needle {
    background-color: var(--primary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    height: 65px;
    width: 3px;
    transform-origin: bottom center;
    transition: transform 0.5s cubic-bezier(0.4, 2.08, 0.55, 0.44);
}

.needle.hour {
    transform: translate(-50%, -100%) rotate(0deg);
}

.needle.minute {
    transform: translate(-50%, -100%) rotate(0deg);
    height: 80px;
}

.needle.second {
    transform: translate(-50%, -100%) rotate(0deg);
    height: 100px;
    background-color: var(--primary-background-color);
}

.dark .needle.hour,
.dark .needle.minute {
    background-color: var(--dark-hands-color);
}

.center-point {
    background-color: var(--primary-background-color);
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.center-point::after {
    content: '';
    background-color: var(--primary-color);
    width: 5px;
    height: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.time {
    font-size: 60px;
}

.date {
    color: #aaa;
    font-size: 14px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .clock {
        width: 150px;
        height: 150px;
    }

    .time {
        font-size: 40px;
    }
}
